


#manha {
    
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}
#tarde {

    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}
#noite {

    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}
#madrugada {

    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}