body {
    background-color: rgb(199, 56, 56);
    font-family: Arial;
    font-size: 20px;
    color: white;
    margin: 0;
    padding: 0;
}

header {
    padding: 20px 0px;
}
header > h1 {
    text-align: center;
    margin: 0;
}
section {
    background-color: white;
    color: black;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 5px;
    max-width: 800px;
    width: 90%;
}

#input {
    
    border-radius: 5px;
    padding: 5px;
}

#msg {
    margin-top: 10px;
}

#foto {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 5px;
}
